@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.dark {
  background: #09090b;
  color: white;
}

.light {
  background: #f4f4f5;
  color: black;
}